aiosqlite==0.22.1
annotated-doc==0.0.4
annotated-types==0.7.0
anthropic==0.86.0
anyio==4.13.0
certifi==2026.2.25
click==8.3.1
decompyle3 @ git+https://github.com/rocky/python-decompile3.git@936ea1f36610ab20411b59d6d71323f2033a6bc2
distro==1.9.0
docstring_parser==0.17.0
fastapi==0.135.2
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.11
iniconfig==2.3.0
jiter==0.13.0
lxml==6.0.2
openai==2.30.0
packaging==26.0
pluggy==1.6.0
pyaes==1.6.1
pyasn1==0.6.3
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.20.0
pytest==9.0.2
python-docx==1.2.0
python-dotenv==1.2.2
rsa==4.9.1
ruff==0.15.10
six==1.17.0
sniffio==1.3.1
spark-parser==1.9.0
starlette==1.0.0
Telethon==1.42.0
tqdm==4.67.3
typing-inspection==0.4.2
typing_extensions==4.15.0
uvicorn==0.42.0
vulture==2.16
xdis==6.3.0
